.navbar{
    background-color: #72a27c;
}
.banner-logo{
    max-width: 10%;
}
.banner-carrito{
    max-width: 5%;
}
#navbarNav{
    font-size: 175%;
    display: flex;
    justify-content: space-between;
}

.itemCount{
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 15px;
}